.App {
  text-align: center;
    background: #ccbaba45;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
header {
  margin: 0 auto;
  background: #ccbaba45;
    width: 1024px;
  /*padding: 15px;*/
}
.wrapper {
  width: 1024px;
  background: #282c34;
    color: #ffffff;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}
.box {
    text-decoration: none;
    text-underline: none;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.box a {
    text-decoration: none;
    text-underline: none;
}
.header-box {
    padding: 5px 10px;
    background-color: #282c34;
    border-bottom: 1px solid #e1e4e8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.match-row {
    padding: 5px 15px;
}
.table{
    width: 100%;
}
img.avatar-team {
    width: 50px;
    height: 50px;
    float: left;
}
.table td, .table th {
    vertical-align: middle !important;
    text-align: center;
    font-size: 14px;
    padding: 10px !important;
}
.table > .time{
    width: 15%;
}
.table > .home-team {
    text-align: right;
}
.table > .away-team {
    text-align: left;
}
header img {
    float: left;
    padding: 10px;
}
header .user-block {
    padding: 10px 20px;
    float: right;
}
.clear-box {
    clear: both;
}